body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    
}
header, main, footer {
    display: inline-block;
    border: 1px solid black;
    /* height: 100px;
    width: 100px;
    padding: 20px 10px 5px; */
}
h1, h2, h3 {
    /* display: inline; */
    font-size: 2rem;
}
nav a {
    display: block;
}