
body {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family: 'Nunito', sans-serif;
}
header, footer{
    background-color: #96CDFF;
    height: 10vh;
    width: 100%;
}
aside{
    background-color: #D8E1FF;
    float: left;
    height: 80vh;
    width: 15%;
}
main {
    background-color: #69DDFF;
    float: right;
    height: 80vh;
    width: 85%;
}
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}
h1 {
    margin: 0 0 0 5px;
    font-size: 3rem;
}
aside a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 10px 0;
    border: 1px black solid;
    text-align: center;

}
aside a:hover {
    background-color: antiquewhite;
    border-radius: 5px;
}
p {
    display: inline-block;
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}
footer i {
    font-size: 0.8rem !important;
}
footer a {
    color: black;
}
footer a:hover {
    color: white;
}